<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/adminDashboard.css" type="text/css">
    <link rel="stylesheet" href="/css/addEmployee.css" type="text/css">
    <!-- Font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>

        <div class="Container">
            <span>
                <ul>
                    <li><img src="/images/adminIcon.png" alt="not found" height="50px" width="50px"></li>
                    <li> Admin Portal</li>
                </ul>
            </span>
        </div>

        <div class="topright">
            <span>
                <ul>
                    <li><img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" alt="" height="40px"
                            width="40px" style="border-radius: 50%;"></li>
                    <li class="admin">Admin</li>
                </ul>
            </span>
        </div>
    </header>



    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->

                    <li class="sidebar-item d-flex ">
                        
                        <form action="../employee/displayAdminDashboardPage" method="get">
                            <button type="submit" class="hide-menu"><i class="fa fa-tachometer"></i>Dashboard</button>
                        </form>
                    </li><br>

                    </li><br>

                    <!-- Add employee-->

                    <li class="sidebar-item d-flex">
                        
                        <form action="../employee/displayAddEmployeePage" method="get">
                            <button type="submit" class="hide-menu"><i class="fa fa-plus"></i> Add Employees</button>
                        </form>
                    </li><br>

                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>

        <div class="sidebar-footer">
            <div class="row">
                <span>
                    <ul>
                        <!-- item-->
                        <li><a href=""><i class="fa fa-cog"></i></a></li>

                        <li>
                            <!-- item-->
                            <a href=""><i class="fa fa-envelope"></i></a>
                        </li>
                        <li>

                            <!-- item-->
                            <a href="#"><i class="fa fa-power-off"></i></a>
                        </li>
                    </ul>
                </span>
            </div>



        </div>
    </aside>

    <div class="bottomnavbar">
        <div class="bottomnav">
            <h1>Dashboard</h1>
            <h3>Home > <span class="dash" style="color:grey;">Dashboard</span></h3>
        </div>
    </div>

    <main>
        <div style=" margin-left: 30em;">

            <table class="table table-success border:2" style=" width: 20em;">
                <thead>
                    <tr>
                        <th>Employee ID</th>
                        <th>Name</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var i=0; i < employeeList.length; i++) { %>
                        <tr>
                            <td>
                                <%= employeeList[i].empId %>
                            </td>
                            <td>
                                <%= employeeList[i].empName %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>

    </main>

</body>

</html>